body{
    background-color: #971818; 
}

p{
    color: rgb(61, 61, 94);
}

header{
    margin-left: 29%;
    width: 41%;
    
}


#menu{
    background-color: white;
    padding: 0px;
    margin: 0px;
    list-style-type: none;
    overflow: hidden;
    margin-left: 29%;
    width: 41%;
    font-family: 'BankGothic Lt BT' ;
   
}

#menu li{ /* posicionamento do li no menu */
    float:left;
}

#menu li a{  /* decoração do li */
    display: block;
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
    
}

#menu li a:hover{
    transition: 0.5s;
    color: white;
    background-color: cornflowerblue;
}

article{
    background-color: #971818;  /*cor de fundo */
    text-align: justify; /* alinhamento do texto */
    width: 40%; /* largura do article */
    padding: 10px; 
    margin-left: 29%;
}

img{
    width: 90%;  
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}
 
h1{
    margin: auto;
    text-align: center;
    font-family: 'BankGothic Lt BT'; /* fonte */
    color: white;
}



#texto{ background-color:  #850b0b ;
    color: white;
    font-family: 'BankGothic Lt BT';
    
}

#n {
    color: white;
    font-family: 'BankGothic Lt BT';
    

}
#imgs{

   width: 70%;  
}
